ray[default,data]==2.51.2
pylance==1.0.4
transformers==4.48.0
fasttext==0.9.3
torch==2.6.0
jieba==0.42.1
scipy==1.11.4
numpy==1.26.4
pandas==2.2.3
regex==2024.11.6
PyYAML==6.0.2
pyarrow==18.1.0
huggingface-hub==0.28.1
