spark:
  app_name: algebraic-stack-train-tokens
pipeline:
  type: LanceWriter
  shuffle: False
  mode: overwrite
  select_cols: ["text_tokenized", "meta"]
  output_path: /home/dataset/en_dataset/tokens/algebraic-stack-train/
  child_configs:
    - type: Tokenization
      input_col: "text"
      output_col: "text_tokenized"
      tokenizer_name_or_path: "/mnt/qwen2_tokenizer/tokenizer"
      child_configs:
        - type: LanceReader
          input_path: /home/dataset/code_dataset/parquets/algebraic-stack-train/
