spark:
  app_name: megamath_web_tokens
pipeline:
  type: LanceWriter
  shuffle: False
  mode: overwrite
  select_cols: ["text_tokenized", "math_score", "domain", "url"]
  output_path: /home/dataset/math_dataset/tokens/MegaMath/megamath-web
  child_configs:
    - type: Tokenization
      input_col: "text"
      output_col: "text_tokenized"
      tokenizer_name_or_path: "/mnt/qwen2_tokenizer/tokenizer"
      child_configs:
        - type: LanceReader
          input_path: /home/dataset/math_dataset/parquets/MegaMath/megamath-web/*
