spark:
  app_name: stackexchange-tokens
pipeline:
  type: ParquetWriter
  shuffle: False
  mode: overwrite
  select_cols: ["text_tokenized"]
  output_path: /home/dataset/code_dataset/tokens/stackexchange
  child_configs:
    - type: Tokenization
      input_col: "text"
      output_col: "text_tokenized"
      tokenizer_name_or_path: "/mnt/qwen2_tokenizer/tokenizer"
      child_configs:
        - type: ParquetReader
          input_path: /home/dataset/code_dataset/parquets/stackexchange
