spark:
  app_name: swallow-math-v2-tokens
pipeline:
  type: LanceWriter
  shuffle: false
  mode: overwrite
  select_cols: ["text_tokenized"]
  output_path: /home/dataset/math_dataset/tokens/swallow-math-v2/
  child_configs:
    - type: Tokenization
      input_col: "text"
      output_col: "text_tokenized"
      tokenizer_name_or_path: "/mnt/qwen2_tokenizer/tokenizer"
      child_configs:
        - type: LanceReader
          input_path: /home/dataset/math_dataset/parquets/swallow-math-v2/*/*
