ray:
  app_name: swallow-code-v2-tokens
pipeline:
  type: LanceWriter
  shuffle: false
  mode: overwrite
  select_cols: ["text_tokenized", "blob_id", "star_events_count", "fork_events_count", "score"]
  output_path: /home/dataset/code_dataset/tokens/swallow-code-v2
  child_configs:
    - type: Tokenization
      input_col: "improved_code"
      output_col: "text_tokenized"
      tokenizer_name_or_path: "/mnt/qwen2_tokenizer/tokenizer"
      child_configs:
        - type: LanceReader
          input_path: /home/dataset/code_dataset/parquets/swallow-code-v2
          select_cols: ["improved_code", "blob_id", "star_events_count", "fork_events_count", "score"]
          mergeSchema: False
