spark:
  app_name: pac_quantile_top15
pipeline:
  type: ParquetWriter
  output_path: /home/dataset/kaiyuan/quantile_stat/pac/top15
  child_configs:
    # 0.12 * 0.17 = 0.0204
    - type: FilterByRatio
      keep_ratio: 0.12
      comparison: "smaller"
      column: "pac_score"
      quantile_error: 0.001
      child_configs:
        - type: FilterByRatio
          keep_ratio: 0.17
          comparison: "larger"
          column: "pac_score"
          quantile_error: 0.001
          child_configs:
            - type: ParquetReader
              input_path: /home/dataset/cn_dataset/parquets/ZH_dedup_global
