apiVersion: v1
kind: ServiceAccount
metadata:
  name: spark
  namespace: kaiyuan-spark
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: spark-role
  namespace: kaiyuan-spark
rules:
  - apiGroups: [""]
    resources:
      - pods
      - pods/log
      - services
      - configmaps
      - events
      - secrets
      - persistentvolumeclaims
    verbs: ["create", "delete", "deletecollection", "get", "list", "patch", "update", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: spark-rolebinding
  namespace: kaiyuan-spark
subjects:
  - kind: ServiceAccount
    name: spark
    namespace: kaiyuan-spark
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: spark-role
